<!doctype html>
<head>
    <title>Del.ST</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="stylesheet" href="/static/download.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="background">
        <div class="container">
            <a class="download-btn" href="/s/{{file_id}}" download="{{file_name}}"><i class="fa fa-download"> </i>Download file</a>
            <div class="slogan">Filename: {{file_name}}</div>
        </div>
    </div>
    <script src="/static/download.js"></script>
</body>