<!doctype html>
<head>
    <title>Del.ST</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="stylesheet" href="/static/download.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="background">
        <div class="container">
            <div class="slogan">Link to share this file: <a href="https://del-st-xwqqlm3wva-uc.a.run.app/d/{{file_id}}">https://del-st-xwqqlm3wva-uc.a.run.app/d/{{file_id}}</a></div>
            <div class="slogan">Filename: {{file_name}}</div>
            <div class="slogan">Size: {{file_size}}</div>
            <div class="slogan-passed"><i class="fa fa-check-circle"></i> Malware scan passed</div>
            <a class="download-btn" href="/s/{{file_id}}" download="{{file_name}}"><i class="fa fa-download"></i> Download file</a>
        </div>
    </div>
    <script src="/static/download.js"></script>
</body>