<!doctype html>
<head>
    <title>Del.ST</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="background">
        <div id="main-container" class="container">
            <input type="file" id="inputFile" hidden/>
            <label class="upload-btn" for="inputFile"><i id="fa-upload" class="fa fa-upload"></i> Scan and Upload file </label>
            <div class="slogan">Delivery. Security. Trust. </br>Anonymous filesharing without viruses </br> 24h per file</div>
            <div class="slogan"><a href="/crypto">Switch to version with encryption</a></div>
        </div>
    </div>
    <script src="/static/main.js"></script>
</body>